*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body{
    display: flex;
}

#navbar{
    width: 420px;
    position: fixed;
    border-right: 5px solid #ccc;
}

#navbar header{
    width: 400px;
    font-size: 2.3rem;
    padding: 20px 50px 30px;
}

.links{
    display: flex;
    flex-direction: column;
    height: 700px;
    overflow: scroll;
    padding-bottom: 40px;
}

.links a{
    font-size: 1.5rem;
    text-decoration: none;
    color: rgba(0, 0,0,0.8);
    padding: 15px 0 15px 50px;
    border-top:1px solid #000;
}


#main-doc{
    width: 70%;
    display: block;
    margin-left: auto;
    padding: 3rem 2rem 2rem 5rem;
}

.main-section .head{
    font-size: 2.7rem;
    padding: 5px 0 30px 0;
    margin-left: -20px;
}

.main-section :is(p ,ul > li) {
    color: #4b4b4b;
    font-size: 1.42rem;
    margin: 5px 0;
    line-height: 1.5;
}

.main-section ul{
    padding-left: 100px;
    padding-bottom: 20px;
}

.main-section code{
    padding: 30px 30px;
    background-color: rgba(204, 204, 204, 0.335);
    font-size: 18px;
    font-family: monospace;
    color: #4b4b4b;
    width: 95%;
    display: block;
    border-radius: 5px;
    line-height: 2rem;
    margin: 5px 5px 10px 5px;
}

